#root {
	width: auto;
	height: auto;
	margin-inline: auto;
}

.board  {
	width: 800px;
	height: 600px;

	border: solid 2px white;
	margin-left: auto;
	margin-right : auto;
	margin-bottom: 20px;
}

.text-input {
	width: 800px;
	border: solid 2px white;
	max-height: fit-content;
	padding: 10px;
	/* Because the box model, the padding will add to the width 
	 * putting padding in vertical axis only will make the width 
	 * unaffected but it won't solve the absence of padding at the 
	 * horizontal axis, unless I put border-box*/ 
	box-sizing: border-box;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	padding:5px;
}

.board > .message {
	border: solid 2px white;
	padding-left: 5px;
	padding-right: 5px;
	white-space: pre-wrap; /* Preserve line breaks and spaces */
	word-wrap: break-word; /* Ensure long words don't overflow */
}
